																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				/*Normalize section*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans CJK JP Thin', sans-serif;
}

:root {
	thin: --var('Noto Sans CJK JP Thin', sans-serif);
	thick: --var('Noto Sans CJK JP Regular', sans-serif);
}


a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

black {
	color: rgba(0, 0 ,0 , 0.55);
}

body {
	background-color: #fafafa;
}

.white {
	background-color: white;
	margin: 0 5%;
	padding-bottom: 20px;
}

/*Button animation*/

button {
	cursor: pointer;
	transition: all .3s ease-in-out;
	box-shadow: 0px 0px 0px gray;
}

button:hover {
	transform: translate(-10px, -10px);
	box-shadow: 7px 7px 0px gray;
}

/*Header Section*/
.header {
	background-image: url(https://www.bonappetour.com/blog/wp-content/uploads/2015/03/1426576690-7820792-1100x423.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 95%;
	margin: auto;
	height: 384px;
}

.header .links {
	display: flex;
	justify-content: center;
	color: white;
}

.header .links li {
	margin: 2em 1em;
	font-size: 22px;
	font-family: --var(thick);
	font-weight: 800;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.header .links li:hover {
	opacity: 0.6;
}

/*Info */

.info {
	width: 75%;
	margin: 1em auto;
	padding: 5em;
	box-shadow: 0 0 20px 5px #dfe6e9;
	position: relative;
	top: -130px;
	z-index: 99;
	background: white;
	text-align: center;
}

.info p {
	font-weight: 600;
	font-size: 90px;
	text-align: center;
	color: #383838;
	margin: 0.5em 0;
}

.info .menu p {
	color: #5F6764;
	font-size: 25px;
	font-weight: 100;
	max-width: 390px;
	
}
	
.info .menu button {
	padding: 1em;
	border: 2px  #63ac94 solid;
	color: #63ac94;
	background-color: white;
	margin: 0 1em;
}

.info .menu button span {
	font-size: 20px;
}

/*Accio section*/

.accio {
	max-width: 640px;
	margin: 0 auto;
}

.accio p {
	text-align: center;
	font-size: 24px;
	font-family: --var(thick);
	color: #5F6764;
	font-weight: 500;
}

.accio a {
	margin: 1em 0;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	color: #63ac94;
	font-weight: 100;
}

/*How*/

.how {
	margin: 5em 0;
}

.how ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

.how ul li {
	margin: 1em 3em;
}

.how ul li img {
	width: 512px;
}

.how ul li:nth-child(2) {
	max-width: 410px;
}


.how ul li:nth-child(2) h1{
	font-size: 32px;
	margin: 1em 0;
	color: #5F6764;
}

.how ul li:nth-child(2) p {
	font-size: 24px;
	line-height: 32px;
	color: #63ac94;
}


/*Quality*/

.quality {
	margin: 5em 0;
}

.quality ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

.quality ul li {
	margin: 1em 3em;
}

.quality ul li img {
	width: 512px;
}

.quality ul li:nth-child(1) {
	max-width: 410px;
}


.quality ul li:nth-child(1) h1{
	font-size: 32px;
	margin: 1em 0;
	color: #5F6764;
}

.quality ul li:nth-child(1) p {
	font-size: 24px;
	line-height: 32px;
	color: #63ac94;
}


/*

Chefs


.chefs {
	margin: 5em 0;
}

.chefs ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

.chefs ul li {
	margin: 1em 3em;
}

.chefs ul li img {
	width: 512px;
}



.chefs ul li:nth-child(1) h1{
	font-size: 32px;
	margin: 1em 0;
	color: #5F6764;
}

.chefs ul li:nth-child(1) p {
	font-size: 24px;
	line-height: 32px;
	color: #63ac94;
}

.chefs ul li:nth-child(1) p {
	display: flex;
}


.chefs ul li:nth-child(1) h1+p ul {
	display: flex;
	flex-direction: column;
}
*/

/*Difference*/

.difference {
	margin: 5em 0;
}



.difference ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

.difference ul li {
	margin: 1em 3em;
}

.difference ul li img {
	width: 512px;
}

.difference ul li:nth-child(2) {
	max-width: 410px;
}


.difference ul li:nth-child(2) h1{
	font-size: 32px;
	margin: 1em 0;
	color: #5F6764;
}

.difference ul li:nth-child(2) p {
	font-size: 24px;
	line-height: 32px;
	color: #63ac94;
}

/*Kitchen*/

.kitchen ul li:nth-child(2) button {
	padding: 1em;
	border: 2px  #63ac94 solid;
	color: #63ac94;
	background-color: white;
	margin: 0 1em;
}

.kitchen ul li:nth-child(2) button span {
	font-size: 20px;
}


.kitchen {
	margin: 5em 0;
}



.kitchen ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

.kitchen ul li {
	margin: 1em 3em;
}

.kitchen ul li img {
	width: 512px;
}

.kitchen ul li:nth-child(2) {
	max-width: 410px;
}


.kitchen ul li:nth-child(2) h1{
	font-size: 32px;
	margin: 1em 0;
	color: #5F6764;
}

.kitchen ul li:nth-child(2) p {
	font-size: 24px;
	line-height: 32px;
	color: #63ac94;
}

.kitchen ul li:nth-child(2) p {
	margin: 1em 14px;
}
/*Footer section*/
.footer {
	margin: 5em 5% 4em 18%;
	display: flex;
}

.footer .footer_logo {
	flex-basis: 50%;
}

.footer .footer_lists {
	margin-left: auto;
}

.footer .footer_lists ul {
	display: flex;
	flex-wrap: wrap;
}

.footer .footer_lists ul li {
	margin: 1em;
	flex-basis: 25%;
	color: #5F6764;
	cursor: pointer;
}
.footer .footer_lists ul li:hover {
	opacity: 0.6;
}